#titulo {
    background: rgb(100,149,237);
    border-radius:15px;
    margin:0px auto;
    font-family: 'Gloria Hallelujah', cursive;
}

#ti {
    text-align:center;
    margin-left: 30%;
    margin-right: 30%;
}


table, th, td {
    border: 2px solid black;
    margin:auto;
    text-align: center;
  }

tr{
    background-color: rgb(175,238,238);
    font-family: 'Gloria Hallelujah', cursive;
}

#name {
    font-family: 'Gloria Hallelujah', cursive;
    background-color: rgb(100,149,237);
    color: white;
    border-radius:15px;
    margin:0px auto;
}

#forma {
    text-align:center;
}

#boton {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

#ima{
    width: 50%;
    height: 50%;
}
